BlindEngine/BlindEngine.opensdf
BlindEngine/BlindEngine.sdf
BlindEngine/Debug/
dependencies/freeImage/lib/Win32/Release/FreeImageLib.lib
dependencies/assimp/lib/Win32/Debug/assimp.lib
dependencies/assimp/lib/Win32/Debug/zlibstatic.lib
dependencies/assimp/lib/Win32/Release/assimp.lib
dependencies/assimp/lib/Win32/Release/zlibstatic.lib
dependencies/freeImage/lib/Win32/Debug/freeimage.lib
dependencies/freeImage/lib/Win32/Release/freeimage.lib
BlindEngine/BlindEngine.v12.suo
*.orig
